@import "variable.scss";
@import "../../lib/bootstrap/scss/functions";
@import "../../lib/bootstrap/scss/variables";
@import "../../lib/bootstrap/scss/mixins";
@import "../../lib/bootstrap/scss/reboot";
@import "../../lib/bootstrap/scss/type";
@import "../../lib/bootstrap/scss/images";
@import "../../lib/bootstrap/scss/code";
@import "../../lib/bootstrap/scss/grid";
@import "../../lib/bootstrap/scss/alert";
@import "../../lib/bootstrap/scss/buttons";
@import "../../lib/bootstrap/scss/card";
@import "../../lib/bootstrap/scss/list-group";
@import "../../lib/bootstrap/scss/nav";
@import "../../lib/bootstrap/scss/navbar";
@import "../../lib/bootstrap/scss/pagination";
@import "../../lib/bootstrap/scss/progress";
@import "../../lib/bootstrap/scss/tables";
@import "../../lib/bootstrap/scss/_badge.scss";
@import "../../lib/bootstrap/scss/transitions";
@import "../../lib/bootstrap/scss/utilities";
@import "shared.scss";

#log_page {

    a {
        text-decoration: none;
        color: theme-color('primary');
        border-bottom: none;
    }

    .active {
        color: theme-color("secondary");
    }

    .nav {
        margin-bottom: 1%;
    }

    #types {
    }

    #log_window {
        max-width: 100%;
        padding: 1%;
        background-color: #f9f9f9;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-word;
        word-wrap: break-word;
        font-family: $font-family-monospace;
        font-size: 80%;
        height: 480px;

        li {
            margin-bottom: .5rem;
        }
    }
}