.muted-bolder {
    color: darken($text-muted, 15%);

    @include hover-focus {
        color: darken($text-muted, 30%);
    }
}

body, html {
    line-height: 1.65;
    height: 100%;
}

.navbar,
footer {
    background-color: $navbar-bg;
}

footer {
    font-size: small;

    a:hover {
        padding-bottom: 2px;
        border-bottom: 1px double #567c73;
    }
}

.navbar-brand {
    color: $navbar-brand-color;

    @include hover-focus {
        color: darken($navbar-brand-color, 15%);
    }
}

.sticky-top {
    @supports (position: sticky) {
        top: $font-size-base * 1.1;
    }
}

img {
    max-width: 98%;
    height: auto;
    padding: .25rem;
    padding-left: 0;
    margin: 0 auto;
    background-color: #fff;
}

main {
    background-color: #fff;

    a {
        color: $main-link-color;
        padding: 0 1px;
        padding-bottom: 2px;
        border-bottom: 1px double $main-link-border-color;

        @include hover-focus {
            color: darken($main-link-color, 15%);
        }
    }
}

header {
    padding: 1rem 0;
}

pre code {
    font-size: $font-size-sm;
}
