$theme-colors: ( "primary": #363636, "secondary": #2A9D8F, "warning": #E9C46A, "info": #323edd);
$body-bg: #f7f7f7;
$body-color: #2d3436;
$container-max-widths: ( sm: 540px, md: 720px, lg: 840px, xl: 960px );
$link-hover-decoration: none;
$code-color: #714674;
$font-family-monospace: Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


// Custom variables
$main-link-color: #577590;
$main-link-border-color: black;
$navbar-bg: transparent;
$navbar-brand-color: #342ead;
$post-title-color: #264653;
$post-title-font-size: 1.3rem;
$post-title-font: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","SF Pro Icons","Apple Legacy Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;