@model Tuple<string, string>
@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}";
    ViewData["BrandLink"] = "/";
    ViewData["Description"] = $"{_option.Value.Title}";
}

<figure class="text-center mt-5 pt-5">
    <blockquote class="blockquote" style="background-color:transparent;border-left:none;">
        <p>@Model.Item2</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        <cite title="来源">@Model.Item1</cite>
    </figcaption>
</figure>

@section Script{
    <script>
        activeNavItem("#nav_home");
    </script>
}