@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}";
    ViewData["BrandLink"] = "/";
    ViewData["Description"] = $"{_option.Value.Title}";
}

@section Style{
    <link href="~/home.min.css" rel="stylesheet" asp-append-version="true" />
}

<div class="d-flex min-vh-100 w-100 flex-column justify-content-center align-items-center">
    <h2 class="mb-4">@_option.Value.Title</h2>
    <div class="fs-5">
            <a href="/blog" class="text-reset mx-1 text-decoration-none"><i class="bi bi-type-bold"></i> 博客</a> &middot;
            <a href="/read" class="text-reset mx-1 text-decoration-none"><i class="bi bi-book"></i> 阅读</a>
    </div>
</div>