
<div>
    <a href="/post" class="btn btn-info">All Posts</a>
    <a href="/read" class="btn btn-success">All Reads</a>
</div>

@section Style {
    <link href="~/style.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Script {
    <script src="~/script.min.js" asp-append-version="true"></script>
}