@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}的阅读";
    ViewData["BrandLink"] = "/read";
    ViewData["Description"] = $"{_option.Value.Title}的阅读";
}

@section Style{
    <link href="~/read.min.css" rel="stylesheet" asp-append-version="true" />
}

    <div class="d-flex min-vh-100 w-100 flex-column">
        <partial name="_Navbar" />
        <main class="container">
            @RenderBody()
        </main>
        <partial name="_Footer" />
    </div>

    @section Script{
    <script src="~/read.min.js" asp-append-version="true"></script>
    <script>
        activeNavItem("#nav_read");
    </script>
    @await RenderSectionAsync("Script", false)
}