@import "_/_common.scss";
@import "../lib/bootstrap/scss/bootstrap.scss";
@import "shared.scss";

.archive {
    ul, li, ol {
        list-style: none;
    }

    ul {
        padding-left: 0.25rem;
    }

    li, ol {
        margin-bottom: 0.25rem;
    }

    h3 {
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 0.4rem;
        font-size: 1.35rem;
    }

    .archive-link {
        margin-bottom: 0.25rem;
    }

    table tr td:first-child {
        padding-right: 1rem;
        min-width: 120px;
    }
}
