@import "_/_common.scss";
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/reboot";
@import "../lib/bootstrap/scss/type";
@import "../lib/bootstrap/scss/images";
@import "../lib/bootstrap/scss/code";
@import "../lib/bootstrap/scss/grid";
@import "../lib/bootstrap/scss/alert";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/card";
@import "../lib/bootstrap/scss/list-group";
@import "../lib/bootstrap/scss/nav";
@import "../lib/bootstrap/scss/navbar";
@import "../lib/bootstrap/scss/pagination";
@import "../lib/bootstrap/scss/progress";
@import "../lib/bootstrap/scss/tables";
@import "../lib/bootstrap/scss/_badge.scss";
@import "../lib/bootstrap/scss/transitions";
@import "../lib/bootstrap/scss/utilities";
@import "shared.scss";

.post-item {
    padding-left: 0;
    padding-right: 0;

    &:first-of-type {
        padding-top: 0;
    }

    .post-item-title {
        font-size: $post-title-font-size;
        font-family: $post-title-font;

        a {
            color: $post-title-color;

            @include hover-focus {
                color: darken($post-title-color, 15%);
                padding-bottom: 2px;
                border-bottom: 1px double #567c73;
            }
        }

        span {
            font-size: $font-size-sm;
            padding: 0.2rem;
        }
    }

    .post-item-excerpt {
        p {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0.75rem;
            padding: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .post-item-meta {
        font-size: $font-size-sm;

        a {
            @include hover-focus {
                color: darken($text-muted, 15%)
            }
        }
    }
}

.pagination {
    margin: 1.5rem auto
}

.pagination .page-item .page-link {
    border-radius: 1px;
    color: #515c6b;
}

.pagination .page-item .page-link, .pagination .page-item > span {
    padding: .25rem .5rem
}

.pagination .page-item > span {
    display: block
}