body{
    line-height: 1.6;
}

.navbar,
footer{
    background-color: transparent;
}

footer {
    font-size: small;

    a:hover {
        padding-bottom: 2px;
        border-bottom: 1px double #567c73;
    }
}

.sticky-top {
    @supports (position: sticky) {
        top: $font-size-base * 1.1;
    }
}

img {
    max-width: 98%;
    height: auto;
    padding: .25rem;
    padding-left: 0;
    background-color: #fff;
}

main {
    background-color: #fffffe;
    border-radius: 3px;
}

header{
    padding: 1rem 0;
}

pre code {
    font-size: $font-size-sm;
}