.navbar,
footer,
.progress-container {
    background-color: whitesmoke;
}

.progress-container {
    height: 3px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

footer {
    font-size: $font-size-sm;

    a:hover {
        padding-bottom: 2px;
        border-bottom: 1px double #567c73;
    }
}

.sticky-top {
    @supports (position: sticky) {
        top: $font-size-base * 1.1;
    }
}

img {
    max-width: 100%;
    height: auto;
    padding: .25rem;
    padding-left: 0;
    background-color: #fff;
}

aside {
    table tr td:first-child {
        padding-right: 0.75rem;
        color: $text-muted;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            border-bottom: 1px solid #EEE;
            padding: 3px 0px;
        }
    }
}
