@model BlogSeries
@{
    Layout = "_LayoutPublic";
}

@foreach(var item in Model.BlogPosts)
{
    <h3>@item.Title</h3>
    <p>@item.PublishDate.ToCnDate()</p>
}

@section Aside {
    <div class="card">
        <div class="card-header">
            Top Hits
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.BlogPosts)
            {
                <li class="list-group-item list-group-action">
                    <a href="@item.GetFullLink()">@item.Title</a>
                </li>
            }
        </ul>
    </div>
}