@inject IOptions<SwanOption> _option

<nav class="navbar navbar-expand bg-light small mt-auto">
    <div class="container wrapper d-block text-center p-2">
        &copy; @DateTime.Now.Year &middot;
        <a href="mailto:@_option.Value.AdminEmail" class="text-reset"><i class="bi bi-envelope"></i></a>
    </div>
</nav>