@inject IOptions<SwanOption> _option

<footer class="mt-auto small pt-5 pb-2 text-center">
    &copy; @DateTime.Now.Year &middot;
    <a href="mailto:@_option.Value.AdminEmail" class="text-reset"><i class="bi bi-envelope"></i></a>
</footer>