@model List<SwanRead>
@inject IOptions<SwanOption> options

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
</head>
<body class="container">
    <header>
        <h2 class="fw-normal">
            <a href="/" class="text-dcoration-none">@options.Value.Title</a>
        </h2>
    </header>

    @await RenderSectionAsync("SubTitle", false)

    <main>
        
        @RenderBody()
    </main>

    <footer>
    </footer>

    <script src="~/script.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Script", false)
</body>
</html>