@inject IOptions<SwanOption> _option
@inject IHostEnvironment _env
<!DOCTYPE html>
<html lang="zh">
<head>
    @{
        var buildOption = new HtmlHeadBuildOption
            {
                ApplicationTitleColor = "#da532c",
                Description = ViewData["Description"]?.ToString(),
                RobotsEnabled = bool.TryParse(ViewData["RobotsEnabled"]?.ToString(), out var result) ? result : _env.IsProduction() && Context.User.Identity?.IsAuthenticated != true,
                SafariPinnedTabColor = "#5bbad5",
                ThemeColor = "#ffffff",
                Title = ViewData["Title"]?.ToString(),
                BaseTitle = _option.Value.Title,
                BaseImage = $"{_option.Value.BaseUrl}/file/icon/android-chrome-512x512.png",
                Image = ViewData["Image"]?.ToString(),
                DatePublished = ViewData["DatePublished"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DatePublished"]),
                DateModified = ViewData["DateModified"] == null ? DateTime.Now : Convert.ToDateTime(ViewData["DateModified"])
            };

        var headerBuilder = new HtmlHeadBuilder(_option.Value, buildOption);
        @Html.Raw(headerBuilder.Build())
    }

    @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
    {
        <link href="~/admin.min.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {
        <link href="~/style.min.css" rel="stylesheet" asp-append-version="true" />
    }
</head>
<body class="d-flex min-vh-100 w-100 flex-column">
    <partial name="_Navbar" />
    <main class="container py-2">
        <div class="row">
            <div class="col-9">@RenderBody()</div>
            <div class="col-3">
                @await RenderSectionAsync("Section", false)
            </div>
        </div>
    </main>
    <partial name="_Footer" />

    @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
    {
        <div class="modal fade" id="modalDialog">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header" id="modalDialogHeader"></div>
                    <div class="modal-body" id="modalDialogBody"></div>
                    <div class="modal-footer" id="modalDialogFooter"></div>
                </div>
            </div>
        </div>


        <script src="~/admin.min.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/script.min.js" asp-append-version="true"></script>
    }

    @await RenderSectionAsync("Script", false)

    @if (_env.IsProduction() && Context.Request.HttpContext.User?.Identity?.IsAuthenticated != true)
    {
        <script>
            galite('create', 'UA-241002412-1', 'auto');
            galite('send', 'pageview');
            var terminationEvent = 'onpagehide' in window ? 'pagehide' : 'unload';
            window.addEventListener(terminationEvent, function () {
                galite('send', 'timing', 'JS Dependencies', 'unload')
            })
        </script>
    }
</body>
</html>