@font-face{
    font-family: 'Noto Sans SC';
    src: url('/font/Noto_Sans_SC/NotoSansSC-Regular.otf') format('truetype');
}

$font-family-sans-serif: 'Noto Sans SC', system-ui, 'Heiti SC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-code: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono;

@import "../../../../node_modules/bootswatch/dist/pulse/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/pulse/bootswatch";

.editor-preview {
    img {
        max-width: 99%;
    }
}

list-group-item {
    color: black;
}

a {
    text-underline-offset: 0.15em;
}

@import "../../../../lib/article-content";