@model List<SwanRead>
@{
    Layout = null;
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
</head>
<body>
    <div class="container" id="read">
        <h1>Hello World!</h1>

        @foreach (var item in Model.OrderByDescending(x => x.CreatedAt).GroupBy(x => x.CreatedAt.Year))
        {
            <section class="mb-4">
                <h3 class="border-bottom">@item.Key 年</h3>

                <div class="mt-2">
                    @foreach (var item2 in item)
                    {
                        <div class="mb-1">
                            <span class="me-1">
                                <i class="bi bi-hash small text-muted"></i>
                                @item2.BookName 
                            </span>
                            <span class="x-small text-muted">
                                (@item2.CreatedAt.ToCnDate(true))
                            </span>
                            @if(item2.Grade > 0)
                            {
                                <span>
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </span>
                            }
                            else if (item2.Grade < 0)
                            {
                                <span>
                                    <i class="bi bi-hand-thumbs-down"></i>
                                </span>
                            }
                        </div>
                    }
                </div>


            </section>
        }
    </div>
</body>
</html>