@{
    Layout = null;
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1>Hello World!</h1>

        <section>
            <h3>2023 年</h3>
            <div>
                <ol reversed>
                    <li>人类的群星闪耀时</li>
                    <li>令人战栗的格林童话</li>
                </ol>
            </div>
        </section>

        <section>
            <h3>2023 年</h3>
            <div>
                <ul>
                    <li>人类的群星闪耀时</li>
                    <li>令人战栗的格林童话</li>
                </ul>
            </div>
        </section>
        
    </div>
</body>
</html>