@model List<SwanRead>
@{
    Layout = null;
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
</head>
<body>
    <div class="container" id="read">
        <h1>Hello World!</h1>

        @foreach (var item in Model.OrderByDescending(x => x.CreatedAt).GroupBy(x => x.CreatedAt.Year))
        {
            <section class="mb-4">
                <h3 class="border-bottom">@item.Key 年</h3>

                <div class="mt-2">
                    @foreach (var item2 in item)
                    {
                        <div class="mb-1 d-flex">
                            <span class="flex-grow-1 me-1">
                                <i class="bi bi-hash small text-muted"></i>
                                @item2.BookName 
                            </span>
                            <span class="small text-muted">@Html.Raw(item2.HtmlMetadata)</span>
                        </div>
                    }
                </div>


            </section>
        }
    </div>
</body>
</html>