@model List<SwanRead>

@section SubTitle {
    <div class="breadcrumb">
        <a href="/">首页</a>
        <span class="divider"> / </span>
        <span class="active">阅读</span>
    </div>
}

<div id="read">
    @foreach (var item in Model.OrderByDescending(x => x.CreatedAt).GroupBy(x => x.CreatedAt.Year))
    {
        <section class="mb-5">
            <h3 class="text-center">@item.Key 年</h3>

            <div>
                @foreach (var item2 in item)
                {
                    <div class="mb-2">
                        <div>
                            <span class="small text-grey me-1">» </span>
                            <span class="book-name">@item2.BookName</span>
                            @if (item2.Grade > 0)
                            {
                                <span class="small">&#128077;</span>
                            }
                            else if (item2.Grade < 0)
                            {
                                <span class="small">&#128078;</span>
                            }
                        </div>
                        <div class="book-metadata py-3 small mt-2">
                            <div class="text-grey">
                                @Html.Raw(item2.HtmlMetadata)
                            </div>
                            @if (!string.IsNullOrEmpty(item2.HtmlComment))
                            {
                                <div class="font-monospace post">
                                    @Html.Raw(item2.HtmlComment)
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </section>
    }
</div>


@section Script {
    <script>
        let metadata = document.getElementsByClassName("book-name");
        for (let i = 0; i < metadata.length; i++) {
            metadata[i].addEventListener("click", function () {
                this.classList.toggle("active");
                let content = this.parentNode.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
}