@inject ISwanService _service
@{
    Layout = "_LayoutAdmin";
}

<div>
    <a href="/admin/blog/addPost">Add New Post</a>
</div>
<div>
    @{
        var posts = await _service.GetBlogPostsAsync();
        foreach(var post in posts)
        {
            <div>
                @post.CreatedAt.ToCnDate()
                <a href="@post.Link">@post.Title</a>
            </div>
        }
    }
</div>

@section AdminAside {
    <h3>cool3</h3>
}