@inject ISwanService _service
@model PostSeries
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = $"Edit series [{Model.Name}] :: Admin";
}

<div class="my-4 p-3 rounded-1 shadow-sm bg-white">
    <div class="form-text mb-2">
        <span class="text-danger">*</span>
        Below fields are all required.
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Display Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="" autocomplete="off" value="@Model.Name" autofocus required>
        <div class="invalid-feedback">
            Required
        </div>
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="" autocomplete="off" value="@Model.Link" required>
        <div class="invalid-feedback">
            Required
        </div>
    </div>
</div>


<div class="accordion my-4 p-3 rounded-1 shadow-sm bg-white">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Optional Fields
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" name="description">@Model.Description</textarea>
                </div>
                <div class="form-check form-switch mb-3">
                    @if (Model.IsPublic)
                    {
                        <input checked class="form-check-input" type="checkbox" id="isPublic" name="isPublic">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" id="isPublic" name="isPublic">
                    }

                    <label class="form-check-label" for="isPublic">Public to Everyone</label>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@Model.Id" name="id" />

@section AdminLegend {
    <div class="row">
        <div class="col-6 text-truncate">
            <span><i class="bi bi-pencil-square"></i> Edit series</span>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-floppy mx-1"></i> Save Changes</button>
        </div>
    </div>
}

@section Script {
    <script>
        const form = document.querySelector("#adminForm");

        form.addEventListener("submit", e => {
            e.preventDefault();
            e.stopPropagation();

            let formData = new FormData(form);
            submitRequest("/admin/series-edit", { form: form, method: "POST", body: new URLSearchParams(formData), contentType: "application/x-www-form-urlencoded" });
        });

        setActive(document.querySelectorAll("[data-nav-id=navHeading_series]"));
    </script>
}