@inject ISwanService _service
@{
    Layout = "_LayoutAdmin";
}

<div>
    @foreach(var item in await _service.GetBlogPostsAsync())
    {
        <div>
            <a href="@item.GetFullLink()">@item.Title</a> 
            <a href="/admin/post-edit/@item.Id">Edit</a>
        </div>
    }
</div>

@section Script{
    <script>
        setActive(document.querySelector("#navHeading_posts"));
    </script>
}