@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}的阅读";
}

<div>
    @RenderBody()
</div>

@section Script{
    <script>
        activeNavItem("#nav_read");
    </script>
    @await RenderSectionAsync("Script", false)
}