<div class="card mb-3">
    <div class="card-header">版权</div>
    <div class="card-body">
        <p>
            本博客所有文章如无特殊声明，均遵守
            <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">
                “署名-非商业性使用-禁止演绎 4.0 国际(CC BY-NC-ND 4.0)协议”
            </a>。
        </p>
    </div>
</div>