@inject IOptions<AppConfig> Config
<div class="card mb-3">
    <div class="card-header">关于</div>
    <div class="card-body">
        <p class="card-text">@Config.Value.Common.AdminChineseName，英文名: @Config.Value.Common.AdminEnglishName。软件工程师，热爱技术与写作。该博客记录技术心得以及所思所感。</p>
        <p>
            <a class="btn btn-light btn-block" href="/about/">更多 &rarr;</a>
        </p>
    </div>
</div>