<div class="card mb-3">
    <div class="card-header">关于</div>
    <div class="card-body">
        <p class="card-text">@BlogConstant.AuthorChineseName，英文名: @BlogConstant.AuthorEnglishName。软件工程师，热爱技术与写作。该博客记录技术心得以及所思所感。</p>
        <p>所有言论均代表个人，除非特殊声明，均与我的雇主或者其他任何团体无关。</p>
    </div>
</div>