<!DOCTYPE html>
<html lang="zh" class="w-100 h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <script>
        (function(d) {
            var config = {
                    kitId: 'sip7jhf',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout);
            const tk = d.createElement("script");
            var f = false;
            const s = d.getElementsByTagName("script")[0];
            var a;
            h.className += " wf-loading";
            tk.src = `https://use.typekit.net/${config.kitId}.js`;
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {
                }
            };
            s.parentNode.insertBefore(tk, s);
        })(document);
    </script>

    @await RenderSectionAsync("Style", false)

</head>
<body class="w-100 h-100">
<nav class="navbar w-100">
    <div class="container px-2">
        <a class="navbar-brand" href="/" id="brand">
            老卞的博客
        </a>
        <div class="d-flex">
            <a class="nav-link me-2" href="/archive">存档</a>
            <a class="nav-link" href="/about">关于</a>
        </div>
    </div>
</nav>

<main class="container my-2 pb-2 shadow-sm rounded">
    @RenderBody()
</main>

<footer class="text-center text-muted fs-xs w-100 pb-3 pt-4">
    <p>&copy; @DateTime.Now.Year All rights reserved.</p>
</footer>

@await RenderSectionAsync("Script", false)
</body>
</html>