@using Microsoft.Extensions.Options
@inject IOptions<BlogConfig> _config
<!DOCTYPE html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @if (ViewData["Title"] == null)
        {
            <text>Jerry Bian's blog</text>
        }
        else
        {
            <text>@ViewData["Title"] &minus; Jerry Bian's blog</text>
        }
    </title>
    <link rel="stylesheet" href="~/style.css" asp-append-version="true"/>

</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Jerry Bian's blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                @*<li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a href="/about" class="nav-link active">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive">存档</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/JerryBian">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rss">RSS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container py-3">
    <div class="row gx-1">
        <main class="col-9 d-flex wrapper justify-content-center py-3 flex-grow-1">
            <div class="wrapper-content @*shadow-sm rounded*@">
                @RenderBody()
            </div>
        </main>
        <aside class="col-3 d-none d-lg-block">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </aside>
    </div>

</div>

<footer class="navbar navbar-light bg-light mt-auto">
    <nav class="container justify-content-center text-muted fs-6">
        &copy; @DateTime.Now.Year @_config.Value.AdminChineseName &middot;
        &hearts; &middot;
    </nav>

</footer>

@await RenderSectionAsync("Script", false)
</body>
</html>