@using Microsoft.Extensions.Options
@inject IOptions<BlogConfig> _config
<!DOCTYPE html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @if (ViewData["Title"] == null)
        {
            <text>Jerry Bian's blog</text>
        }
        else
        {
            <text>@ViewData["Title"] &minus; Jerry Bian's blog</text>
        }
    </title>
    @await RenderSectionAsync("Style", false)

</head>
<body class="d-flex flex-column w-100 min-vh-100">
<header class="navbar">
    <nav class="container flex-column justify-content-center">
        <div><a href="/" class="navbar-brand fs-1">Jerry Bian's blog</a></div>
        <div class="text-muted fs-6 my-2"><a href="/about">关于</a> &middot;  <a href="/archive">存档</a> &middot;  <a href="/rss">订阅</a></div>
    </nav>
</header>
<main class="container shadow-sm rounded wrapper d-flex justify-content-center py-3">
    <div class="wrapper-content">
        @RenderBody()
    </div>
        
</main>
<footer class="navbar mt-auto">
    <nav class="container justify-content-center text-muted fs-6">
        &copy; @DateTime.Now.Year @_config.Value.AdminChineseName &middot; 
        &hearts; &middot;
    </nav>
    
</footer>

@await RenderSectionAsync("Script", false)
</body>
</html>