<!DOCTYPE html>
<html lang="zh" class="w-100 h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    @await RenderSectionAsync("Style", false)
    @await RenderSectionAsync("Title", false)
</head>
<body class="w-100 h-100">
<nav class="navbar w-100">
    <div class="container px-2">
        <a class="navbar-brand" href="/" id="brand">
            老卞的博客
        </a>
        <div class="d-flex">
            <a class="nav-link me-2" href="/archive">存档</a>
            <a class="nav-link" href="/about">关于</a>
        </div>
    </div>
</nav>   

<main class="container my-2 pb-2 shadow-sm rounded">
    @RenderBody()
</main>

<footer class="text-center text-muted fs-xs w-100 pb-3 pt-4">
    <p>&copy; @DateTime.Now.Year All rights reserved.</p>
</footer>

@await RenderSectionAsync("Script", false)
</body>
</html>