$body-bg: #e8e8e8;
$card-height: 100%;

@import "../../../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../../../../node_modules/bootstrap/scss/bootstrap";

a {
    text-underline-offset: 0.18em;
}