@import "_shared";

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$body-color: black;
$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import "../../../../node_modules/bootswatch/dist/zephyr/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/zephyr/bootswatch";

#navbar, .offcanvs-navbar {
    .active {
        background-color: $white;
        color: $primary-text-emphasis;
        font-weight: 500;
        border-left: 1px solid $secondary-text-emphasis;
    }
}

.navHeading{
    font-size: 1.1rem;
}