@import "_shared";

@import "../../../../node_modules/bootswatch/dist/cyborg/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/cyborg/bootswatch";

#navbar {
    .active {
        background-color: var(--bs-light);
        color: var(--bs-light-bg-subtle)
    }
}

.navHeading{
    font-size: 1.1rem;
}