@import "_shared";

#main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
    min-height: 60vh;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
}



.bg-1 {
    background-color: #ECF0F1;
}





.form-control{
    background-color: transparent;
    &:focus {
        background-color: transparent;
    }
}


.post {
    font-weight: 400;
    line-height: 1.65em;

    & > p {
        margin-bottom: 1.5rem;
    }

    a {
        padding-left: 1px;
        padding-right: 1px;
        color: $color-1;

        &:hover, &:focus, &:visited {
            color: #1e3799;
        }
    }

    *:not(pre) > code {
        padding-left: 4px;
        padding-right: 4px;
        font-size: $font-size-base * 0.9;
    }

    pre {
        font-size: 92%;
    }

    img {
        transition: 0.3s;
        max-width: 100%;
    }

    li {
        margin-bottom: .5rem;

        p {
            margin-bottom: 0;
        }
    }

    h3 {
        border-left-color: #6D214F;
        border-left-style: solid;
        padding-left: 1%;
        border-left-width: 3px;
        margin-bottom: 0.5rem;
    }

    h4 {
        border-left-color: #182C61;
        border-left-style: solid;
        padding-left: 1%;
        border-left-width: 2px;
        margin-bottom: 0.5rem;
    }
}
