@import "_shared";

$navbar-padding-y: 0.65rem;
$list-group-item-padding-x: 1.0rem;
$popover-max-width: 480px;

@import "../../../../node_modules/bootswatch/dist/zephyr/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/zephyr/bootswatch";

:root {
    --bs-primary-text-emphasis: #392e4a;
    --bs-code-color: #1B1464;
    --bs-body-color: black;
}

.navbar .active {
    border-bottom-color: $dark;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0 !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.popover {
    overflow: auto;
}

.popover-header {
    background-color: transparent;
}

.blinker {
    animation: blinker 5s linear 3s infinite;
}

.card {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;

    * {
        border: none;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .list-group {
        --bs-list-group-active-color: inherit;
    }

    a {
        text-decoration-line: none;
        color: inherit;
        border-left: 0.8px double transparent;

        &:hover, &.active {
            border-left: 0.8px double var(--bs-primary-text-emphasis);
            border-radius: 0;
        }
    }

    .list-group-item {
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 0.25rem;
    }
}

#aside {
    position: sticky;
    top: 1.2rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}

.large-title {
    font-family: "Trebuchet MS";
    color: var(--bs-primary-text-emphasis);
}