@import "_shared";

/*@import "../../../../node_modules/bootswatch/dist/zephyr/variables";*/
@import "../../../../node_modules/bootstrap/scss/bootstrap";
/*@import "../../../../node_modules/bootswatch/dist/zephyr/bootswatch";*/

:root {
    --bs-primary-text-emphasis: #392e4a;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blinker {
    animation: blinker 5s linear 3s infinite;
}

.card {
    border: none;
    background-color: transparent !important;

    * {
        border: none;
        background-color: transparent !important;
    }


    a {
        text-decoration-line: none;
        color: inherit;

        &:hover {
            filter: brightness(1.8);
        }

        &.active {
            border-bottom: 1px dashed var(--bs-primary-text-emphasis);
            padding-bottom: 0.25rem;
        }
    }

    .list-group-item {
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 0.25rem;
    }
}

#aside {
    position: sticky;
    top: 1.2rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}

.large-title {
    font-family: "Trebuchet MS";
    color: var(--bs-primary-text-emphasis);
}