@{
    Layout = "_Layout";
}

<div>@RenderBody()</div>

@section navbar
{
    <ul class="navbar-nav">
        <li class="navbar-text">博客管理</li>
        <li class="nav-item">
            <a class="nav-link" href="/blog" id="nav_blog_index">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/posts" id="nav_blog_posts">文章</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog/tags" id="">标签</a>
        </li>
    </ul>
}

@section Scripts
{
    <script>
        activeNavItem("#nav_blog");
    </script>
    
    @await RenderSectionAsync("Scripts", false)
}