@inject IOptions<LaobianAdminOption> _config
<!DOCTYPE html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    @{
        var buildOption = new HtmlHeadBuildOption
        {
            ApplicationTitleColor = "#da532c",
            Description = ViewData["Description"]?.ToString(),
            RobotsEnabled = false,
            SafariPinnedTabColor = "#139cc4",
            ThemeColor = "#ffffff",
            Title = ViewData["Title"]?.ToString(),
            BaseTitle = "Jerry Bian"
        };

        var headerBuilder = new HtmlHeadBuilder(_config.Value, buildOption);
        @Html.Raw(headerBuilder.Build())
    }
    <link rel="stylesheet" href="~/dist/style.min.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Jerry Bian</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-feather-alt"></i> 博客</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blog/post"><i class="fas fa-archive"></i> 所有文章</a>
                        <a class="dropdown-item" href="/blog/tag"><i class="fas fa-tags"></i> 所有标签</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;" onclick="forceReloadBlogData()"><i class="fas fa-broom"></i> 清除缓存</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log"><i class="fas fa-clipboard-list"></i> 日志</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read"><i class="fas fa-book-open"></i> 阅读</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" href="javascript:;" onclick="persistent()"><i class="fas fa-save"></i> 持久化数据库</a>
                </li>
                @if (Context.User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle"></i> @Context.User.Identity.Name
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> 登出</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<main class="container p-2 my-3 visible" id="main1">
    @RenderBody()
</main>
<main class="d-flex align-items-center invisible" id="main2">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">working...</span>
    </div>
</main>
<footer class="mt-auto text-center p-2">
    &copy; @DateTime.Now.Year
</footer>
<script src="/dist/script.min.js" asp-append-version="true"></script>
<script>
    document.addEventListener("DOMContentLoaded",
        function() {
            validateForms();
        });
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>