<!DOCTYPE html>
<html lang="en" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        @if (ViewData["Title"] == null)
        {
            <text>Jerry Bian</text>
        }
        else
        {
            <text>@ViewData["Title"] &minus; Jerry Bian</text>
        }
    </title>
    <link rel="stylesheet" href="~/style.css" asp-append-version="true"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#139cc4">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Jerry Bian</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">API</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blog/log">LOG</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ADMIN</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blog/log">LOG</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">BLOG</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/blog/log">LOG</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/blog/post">POSTS</a>
                        <a class="dropdown-item" href="/blog/tag">TAGS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:;" onclick="persistent()">PERSISTENT</a>
                        <a class="dropdown-item" href="javascript:;" onclick="forceReloadBlogData()">FORCE RELOAD</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                @if (Context.User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Context.User.Identity.Name</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/logout">LOGOUT</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<main class="container p-2 my-3">
    @RenderBody()
</main>
<footer class="mt-auto text-center p-2">
    &copy; @DateTime.Now.Year
</footer>
<script src="/script.min.js"></script>
<script>
    function forceReloadBlogData() {
        fetch('/blog/reload',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    },
                    body: 'Request by Admin - Force Reload Blog Data button'
                })
            .then(response => {
                if (response.ok) {
                    window.location.reload(true);
                }
            });
    }

    function persistent() {
        fetch('/blog/persistent',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    },
                    body: ':meat_on_bone: Force persistent by Admin'
                })
            .then(response => {
                if (response.ok) {
                    window.location.reload(true);
                }
            });
    }
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>