<!DOCTYPE html>
<html lang="en" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Admin</title>
    @await RenderSectionAsync("Style", false)
</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/post"><i class="fas fa-list-alt"></i> BLOG POSTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/tag">BLOG TAGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/post">BLOG POSTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log">LOGS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    @RenderBody()
</main>
@*<div class="row h-100">
    <div class="col-2 h-100 bg-dark d-flex flex-column p-3 text-white">
        <a href="/" class="fs-4 text-decoration-none mb-3 me-auto text-white">Admin</a>
        <hr/>
        <ul class="nav flex-column mb-auto">
            <li>
                <a href="/blog/posts" class="nav-link text-white">Blog > Posts</a>
            </li>
            <li>
                <a href="/blog/tags" class="nav-link text-white">Blog > Tags</a>
            </li>
            <li>
                <a href="/blog/comments" class="nav-link text-white">Blog > Comments</a>
            </li>
        </ul>
        <hr/>
        <a href="/logout" class="fs-6 text-decoration-none mb-3 me-auto ms-auto text-white">Sign out</a>
    </div>
    <div class="col-10 p-2">
        <p class="text-end">
            <button class="btn btn-info" onclick="forceReloadBlogData()">Force Reload Blog Data</button>
            <button class="btn btn-info" onclick="persistent()">Persistent</button>
        </p>
        @RenderBody()
    </div>
</div>*@
<footer class="mt-auto text-center">
    &copy; @DateTime.Now.Year
</footer>
<script src="/script.min.js"></script>
<script>
    function forceReloadBlogData() {
        fetch('/blog/reload',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    },
                    body: 'Request by Admin - Force Reload Blog Data button'
                })
            .then(response => {
                if (response.ok) {
                    window.location.reload(true);
                }
            });
    }

    function persistent() {
        fetch('/blog/persistent',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    },
                    body: 'Request by Admin - Persistent'
                })
            .then(response => {
                if (response.ok) {
                    window.location.reload(true);
                }
            });
    }
</script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>