@{
    ViewData["Title"] = "日记首页";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-xl-6">
            <canvas id="diary_chart_count_per_year">loading...</canvas>
        </div>
        <div class="col-xl-6">
            <canvas id="diary_chart_words_per_year">loading...</canvas>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xl-6">
            <canvas id="diary_chart_count_per_month">loading...</canvas>
        </div>
        <div class="col-xl-6">
            <canvas id="diary_chart_words_per_month">loading...</canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        activeNavItem("#nav_diary");
        submitRequest("/diary/chart/count-per-year",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#diary_chart_count_per_year"), chart);
                }
            });
        submitRequest("/diary/chart/words-per-year",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#diary_chart_words_per_year"), chart);
                }
            });
        submitRequest("/diary/chart/count-per-month",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#diary_chart_count_per_month"), chart);
                }
            });
        submitRequest("/diary/chart/words-per-month",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#diary_chart_words_per_month"), chart);
                }
            });
    </script>
}