<div class="container d-flex justify-content-center align-items-center ">
    <div class="btn-group d-block text-center" role="group">
        <a href="/diary" class="btn btn-light btn-lg"><i class="fas fa-user-secret"></i> 日记</a>
        <a href="note" class="btn btn-light btn-lg"><i class="fas fa-clipboard-list"></i> 笔记</a>
    </div>
</div>