@{
    ViewData["Title"] = "添加新的日记";
}
<h3>新日记</h3>
<form class="needs-validation" action="/jarvis/diary/add" method="post" novalidate>
    <div class="mb-3">
        <label for="date" class="form-label">日记时间</label>
        <input type="date" class="form-control" id="date" name="date" autocomplete="off" value="@ViewData["Date"]">
    </div>
    <div class="mb-3">
        <label for="markdownContent" class="form-label">日记内容</label>
        <textarea class="form-control" id="markdownContent" name="markdownContent" rows="3" placeholder="日记内容" autocomplete="off"></textarea>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">提交</button>
    </div>

</form>

@section Scripts {
    <script>
        const markdownContent = prepareEditor(document.querySelector("#markdownContent"), "jarvis_diary_add_@ViewData["Date"]");
    </script>
}