@*<cache enabled="true" expires-after="@TimeSpan.FromDays(30)">
    <article class="post">
        <p>Hi there,</p>

        <p>My name is 卞良忠, and use Jerry Bian as my English name.</p>

        <p>I am a software engineer, working at software department of a bank at Hangzhou, China.</p>

        <p>My interested areas including: .NET/C#, Python, Go, as well as architect and beautiful codes with high performance. Writing codes are one of my main hobbies and it lets me feel better once something bothering happened. However, I have no interests on comparing one language to another or this technology to the other one. I believe the best choice always should be made under certain scenarios.</p>

        <p>I am also a father, with a cute boy born at 2017. Making him laugh and taking part in his growth is another best thing of my life. By the way, maybe someday when he is well prepared, I can tech him programming.</p>

        <p>This website is basically my personal blogs and notes, they are not representing anything else besides myself. All posts cannot be copied or commercial usage until you got my approval.</p>

        <p>Usually, I wrote programming and software related posts. But anything else can be put here too, as long as I think I should.</p>

        <p>I can be reached at:</p>

        <ul>
            <li>Email: <a href="mailto:@AppSetting.Default.AdminEmail">@AppSetting.Default.AdminEmail</a></li>
            <li>WeChat: jerry-bian</li>
        </ul>

        <p>Life is short, letters will be last forever.</p>
    </article>

    @section sidebar{
        <div class="card mb-3 position-sticky">
            <div class="card-header">版权</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Attribution 4.0 International (CC BY 4.0)</a>
                </p>
                <p class="card-text">
                    <a href="https://creativecommons.org/licenses/by/4.0/deed.zh">署名 4.0 国际 (CC BY 4.0)</a>
                </p>
            </div>
        </div>
    }
</cache>*@
