@model string

<article class="post">
    <div class="mt-2 mb-4 post-content">
        @Html.Raw(Model)
    </div>
</article>

@section style{
    <link rel="stylesheet"
          href="~/style/post.min.css"
          asp-fallback-href="https://jerrybian.github.io/blog.laobian.me/style/post.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-append-version="true"/>
}

@section script{
    <script src="~/script/post.min.js"
            asp-fallback-src="https://jerrybian.github.io/blog.laobian.me/script/post.min.js"
            asp-fallback-test="window.test"
            asp-append-version="true">
    </script>
}