$theme-colors: ( "primary": #2c3e50, "secondary": #CAD3C8);
$body-color: #0f0e17;
$body-bg: #f8f5f2;
$link-hover-decoration: none;
$code-color: #594a4e;
$post-title-color: #8c7851;
$font-family-sans-serif: Arial, "Noto Sans", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$container-max-widths: ( sm: 540px, md: 720px, lg: 840px, xl: 960px );
$list-group-bg: transparent;
$post-title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;