h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h3 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.4rem;
    font-size: 1.35rem;
}

h4 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
    font-weight: 400;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.25rem;
}

p {
    line-height: 1.65;
}

blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
}

blockquote p {
    margin-bottom: 0.6rem;
}

blockquote *:last-child {
    margin-bottom: 0;
}

a {
    border-bottom-width: 1px;
    border-bottom-color: darkolivegreen;
    padding-bottom: 2px;
    border-bottom-style: dashed;
}

img {
    cursor: pointer;
    transition: 0.3s;
}

    img:hover {
        opacity: 0.8;
    }