h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h3 {
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.35rem;
    margin-bottom: 0.8rem;
    margin-top: 1.5rem;
    padding-bottom: 0.4rem;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

h4 {
    border-bottom: 1px solid #eaecef;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    padding-bottom: 0.3rem;
}

p { line-height: 1.8; }

blockquote {
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
    margin-bottom: 10px;
    padding: 10px;
}

blockquote p { margin-bottom: 0.6rem; }

blockquote *:last-child { margin-bottom: 0; }

a {
    border-bottom-color: darkolivegreen;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-bottom: 2px;
}

pre { font-size: 92%; }

img {
    cursor: pointer;
    transition: 0.3s;
}

img:hover { opacity: 0.9; }