/*
    GLOBAL SETTINGS
*/

html, body {
    background-color: white;
    color: #4A5459;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

a,
a:hover {
    outline: none;
    color: inherit;
}

    a:not(.btn):not(.navbar-brand):not(.nav-link):not(.page-link):hover,
    a:not(.btn):not(.navbar-brand):not(.nav-link):not(.page-link):focus {
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px double #567c73;
    }

footer {
    background-color: whitesmoke;
    color: inherit;
}

aside table tr td:first-child {
    padding-right: 8px;
    color: #9199a1;
}

pre, code {
    color: inherit;
    font-family: Consolas,Monaco,Menlo,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

/*
    OVERRIDE BOOTSTRAP
*/
.navbar {
    background-color: whitesmoke;
    color: inherit;
}

.sticky-top {
    top: 1.1rem;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
}

.card {
    width: 100%;
}

/*
    INDEX PAGES
*/


.post-list h2 {
    color: #515c6b;
}

.post-list .list-group-item {
    padding-left: 0;
    padding-right: 0;
}

    .post-list .list-group-item:first-child {
        padding-top: 0;
    }

.post-list .pagination {
    margin: 1.5rem auto
}

    .post-list .pagination .page-item .page-link {
        border-radius: 1px;
        color: #515c6b;
    }

    .post-list .pagination .page-item .page-link, .post-list .pagination .page-item > span {
        padding: .25rem .5rem
    }

    .post-list .pagination .page-item > span {
        display: block
    }

/*
    POST PAGES
*/
.post h2 {
    color: #515c6b;
    padding-bottom: 0.3rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC) bottom left repeat-x;
}

.post h3,
.archive h3{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 0.4rem;
}

.post h4 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
    font-weight: 400;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.post figure {
    display: inline-block;
}

    .post figure figcaption {
        margin-top: 0.66em;
        padding: 0 1em;
        font-size: 0.9em;
        line-height: 1.5;
        text-align: center;
        color: #999;
    }

.post blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
}

    .post blockquote p {
        margin-bottom: 0.6rem;
    }

    .post blockquote *:last-child {
        margin-bottom: 0;
    }

.post code {
    white-space: pre-wrap;
    padding: 1px 5px;
}

.post code:not(.hljs) {
    color: brown;
}

.post pre {
    margin-bottom: 1em;
    padding-bottom: 20px !ie7;
    width: auto;
    width: 650px !ie7;
    max-height: 600px;
    overflow: auto;
    font-size: 0.9rem;
}

    .post pre code {
        background-color: whitesmoke;
        padding: 0.5rem;
        display: block;
    }

.post a {
    border-bottom-width: 1px;
    border-bottom-color: darkolivegreen;
    padding-bottom: 2px;
}

.post a {
    border-bottom-style: dashed;
}

.post img {
    max-width: 100%;
    height: auto;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}