@font-face {
    font-family: 'Noto Sans SC';
    src: url('/font/Noto_Sans_SC/NotoSansSC-Regular.otf') format('truetype');
}

$font-family-sans-serif: 'Noto Sans SC', system-ui, 'Heiti SC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-code: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono;

@import "../../../../node_modules/bootswatch/dist/minty/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/bootswatch/dist/minty/bootswatch";

.wrapper-content {
    max-width: 680px;
    width: 100%;
}

a {
    text-underline-offset: 0.1em;
}

li{
    margin-bottom: .5rem;
}

@import "../../../../lib/article-content";