@model List<BlogSeries>

@foreach(var tag in Model)
{
    <div class="d-flex mb-3 p-2 bg-success">
        <div class="text-truncate">
            @tag.Object.Name
        </div>
        <div class="ms-auto text-nowrap">
            <a href="/blog/series/@tag.Object.Url" class="text-reset">@tag.Posts.Count</a> 篇文章
        </div>
    </div>
}