@model List<BlogTag>

@foreach (var tag in Model)
{
    if (tag.Posts.Any())
    {
        <div class="d-flex post-item py-2">
            <div class="text-truncate">
                <i class="bi bi-hash small text-muted pe-1"></i>
                <a class="fs-5" href="/blog/tag/@tag.Object.Url">@tag.Object.Name </a>
            </div>
            <div class="text-muted text-nowrap ms-auto small pt-1 fst-italic ps-1">- @tag.Posts.Count 篇文章</div>
        </div>
    }
}

@section Script {
    <script>
        activeNavItem("#nav_blog");
    </script>
}