@model BlogTag

<div class="container">
    <fieldset>
        <legend>编辑标签</legend>
        <form class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">标签名称</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="标签名称" autocomplete="off" value="@Model.Object.Name" autofocus required>
                <div class="invalid-feedback">
                    必填
                </div>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">标签地址</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="标签地址" autocomplete="off" value="@Model.Object.Url" required>
                <div class="invalid-feedback">
                    必填
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">简介</label>
                <textarea id="description" class="form-control" rows="3">@Model.Object.Description</textarea>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">提交</button>
            </div>
            <input type="hidden" value="@Model.Object.Id" name="id" />
        </form>
    </fieldset>
</div>

@section Script {
    <script>
        activeNavItem("#nav_admin");
        const form = document.querySelector("form");
        form.addEventListener('submit',
            function (event) {
                event.preventDefault();
                event.stopPropagation();
                var formData = new FormData(form);
                formData.append("description", document.querySelector("#description").value);
                submitRequest("/blog/tag/edit", { form: form, method: "POST", body: new URLSearchParams(formData), contentType: "application/x-www-form-urlencoded" });
            });
    </script>
}