@model IEnumerable<BlogPost>

<div>
    @foreach (var item in Model)
    {
        <div class="d-flex mb-3 p-1">
            <a href="@item.Object.GetUrl()" class="d-flex text-decoration-none">
               @item.Object.Title
            </a>
            <span class="ms-auto small text-muted">
                <i class="bi bi-calendar2-date" title="最后修改于：@item.Object.LastUpdateTime.ToCnDateTime()"></i> @item.Object.PublishTime.ToCnDate()
            </span>
        </div>
    }
</div>