@model BlogSeries

<h3>@Model.Posts.Count</h3>

@foreach(var p in Model.Posts)
{
    <div>
        <a href="#">@p.Object.Title</a>
    </div>
}

@section Script {
    <script>
        activeNavItem("#nav_blog");
    </script>
}
