<h3>新标签</h3>
<form class="needs-validation" action="/blog/tag/add" method="post" novalidate>
    <div class="mb-3">
        <label for="displayName" class="form-label">显示名称</label>
        <input type="text" class="form-control" id="displayName" name="displayName" placeholder="标签显示名称" autocomplete="off" autofocus required>
        <div class="invalid-feedback">
            必填
        </div>
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">标签链接</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="标签链接" autocomplete="off" required>
        <div class="invalid-feedback">
            必填
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">标签描述</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="标签描述" autocomplete="off"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">提交</button>
</form>