@{
    Layout = "_BlogLayout";
    ViewData["Title"] = "博客管理首页";
}

<div class="mb-3 bg-light p-1">
    <canvas id="postsAccessChart"></canvas>
</div>
<div class="mb-3 bg-light p-1">
    <canvas id="postsCountStats"></canvas>
</div>
<div class="bg-light p-1">
    <canvas id="postsWordsCountStats"></canvas>
</div>

@section Scripts
{
    <script>
        activeNavItem("#nav_blog_index");
        submitRequest("/blog/post/access?days=14",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#postsAccessChart"), chart);
                }
            });
        submitRequest("/blog/post/stat/words-count",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#postsWordsCountStats"), chart);
                }
            });
        submitRequest("/blog/post/stat/count",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#postsCountStats"), chart);
                }
            });
    </script>
}