@model IEnumerable<Laobian.Share.Blog.BlogTag>
@inject IOptions<LaobianAdminOption> _config
@{
    ViewData["Title"] = "Blog Tags";
}

<div class="table-responsive">
    <table class="table caption-top align-middle">
        <caption>标签总数: @Model.Count() <a href="/blog/tag/add" class="btn btn-primary float-end"><i class="fas fa-plus"></i> 添加新的标签</a></caption>
        <thead class="table-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">显示名称</th>
            <th scope="col">标签链接</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <th>
                    <a class="btn btn-info me-2" href="/blog/tag/update/@tag.Link"><i class="fas fa-edit"></i> 编辑</a>
                    <a class="btn btn-danger" href="javascript:;" onclick="deleteTag('@tag.Link')"><i class="fas fa-trash-alt"></i> 删除</a>
                </th>
                <th>@tag.DisplayName</th>
                <th>@tag.Link</th>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function deleteTag(tagLink) {
            fetch(`/blog/tag/${tagLink}`,
                {
                    method: "DELETE"
                }).then(res => {
                window.location.reload(true);
            });
        }
    </script>
}