@model List<DateTime>
@{
    Layout = "_DiaryLayout";
}

<ul>
    @foreach (var item in Model)
    {
        <li><a href="/diary/@item.Year.ToString("D4")/@item.Month.ToString("D2")/@item.Day.ToString("D2")\.html">@item.ToChinaDate()</a></li>
    }
</ul>