@inject IOptions<SwanOption> _option
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if(ViewData["Title"] == null)
        {
            <text>@_option.Value.Title</text>
        }
        else
        {
            <text>@ViewData["Title"] - @_option.Value.Title</text>
        }
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">
    <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    @await RenderSectionAsync("Style", false)
</head>
<body class="d-flex min-vh-100 w-100 flex-column">
    @RenderBody()

    <div id="temp"></div>
    @await RenderSectionAsync("Script", false)
</body>
</html>
