@inject IOptions<LaobianOption> _option

<nav class="navbar navbar-expand-lg bg-white mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">@_option.Value.Title</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/blog" id="nav_blog"><i class="bi bi-type-bold"></i> 博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read" id="nav_read"><i class="bi bi-book"></i> 阅读</a>
                </li>
                @if (Context.Request.HttpContext.User?.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin" id="nav_admin"><i class="bi bi-gear-wide-connected"></i> Admin</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>