@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}的管理界面";
    ViewData["BrandLink"] = "/admin";
}
<div>
    @RenderBody()
</div>

@section Script{
    <script>
        activeNavItem("#nav_admin");
    </script>
    @await RenderSectionAsync("Script", false)
}