@inject IOptions<LaobianOption> _option
@{
    Layout = "_Layout";
    ViewData["BrandName"] = $"{_option.Value.Title}的后台";
    ViewData["BrandLink"] = "/admin";
}

<div class="modal fade" tabindex="-1" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messageModalBody">
            </div>
            <div class="modal-footer" id="messageModalFooter">
            </div>
        </div>
    </div>
</div>

@section Style{
    <link href="~/admin.min.css" rel="stylesheet" asp-append-version="true" />
}

    <div class="d-flex min-vh-100 w-100 flex-column">
        <partial name="_Navbar" />
        <main class="container shadow bg-white px-4 py-5">
            @RenderBody()
        </main>
        <partial name="_Footer" />
    </div>

    @section Script{
    <script src="~/admin.min.js" asp-append-version="true"></script>
    <script>
        activeNavItem("#nav_admin");
    </script>
    @await RenderSectionAsync("Script", false)
}