<!doctype html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/dist/style.min.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>
<body class="d-flex flex-column w-100 min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Jerry Bian</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navLinks">
                @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/diary"><i class="fas fa-clipboard-list"></i> 日志</a>
                    </li>
                </ul>*@
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/diary" id="nav_diary"><i class="fas fa-clipboard-list"></i> 日志</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<main class="container p-2 my-3">
    @RenderBody()
</main>
    <footer class="mt-auto text-center p-2">
        &copy; @DateTime.Now.Year
    </footer>

<script src="~/dist/script.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Script", false)
</body>
</html>