@inject IOptions<JarvisOption> _option
<!doctype html>
<html lang="zh" class="w-100 min-vh-100">
<head>
    @{
        var buildOption = new HtmlHeadBuildOption
        {
            ApplicationTitleColor = "#da532c",
            Description = ViewData["Description"]?.ToString(),
            RobotsEnabled = false,
            SafariPinnedTabColor = "#5bbad5",
            ThemeColor = "#ffffff",
            Title = ViewData["Title"]?.ToString(),
            BaseTitle = "Jarvis"
        };

        var headerBuilder = new HtmlHeadBuilder(_option.Value, buildOption);
        @Html.Raw(headerBuilder.Build())
    }
    <link href="~/dist/style.min.css" asp-append-version="true" rel="stylesheet">
</head>
<body class="d-flex flex-column w-100 min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Jarvis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/diary"><i class="fas fa-clipboard-list"></i> 日志</a>
                    </li>
                </ul>*@
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/diary" id="nav_diary"><i class="fas fa-clipboard-list"></i> 日记</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container p-2 my-3">
    @RenderBody()
</main>
<footer class="mt-auto text-center p-2">
    &copy; @DateTime.Now.Year
</footer>

<script src="~/dist/script.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("Script", false)
</body>
</html>