.fs-sm {
    font-size: $font-size-sm;
}

.fs-xs {
    font-size: $font-size-sm * 0.8;
}


.muted-bolder{
    color: #494f54;

    &:hover{
        color: #25282b;
    }
}

.wrapper {
    padding-left: 1%;
    padding-right: 1%;

    .wrapper-content {
        max-width: 640px;
        width: 100%;
    }
}

/*a,
a:link,
a:hover,
a:visited,
a:focus{
    outline: none;
    color: inherit !important;
    text-decoration: none;
}*/

#brand {
    color: #342ead !important;

    &:hover, &:focus {
        color: #221e71 !important;
    }
}

main{
    background-color:#fff;
}

/*main a{*/
    /*border-bottom: 1px double black;*/

    /*&:link, &:visited {
        color: #577590 !important;
    }

    &:hover, &:focus{
        color: #3a4e60 !important;
    }
}*/

.navbar {
    font-size: $font-size-sm;
    font-weight: 500;

    .nav-item {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .navbar-nav {
        .nav-link {
            border-radius: $border-radius;
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            &:hover {
                background-color: rgba(0, 0, 0, .03);
            }

            &.active {
                background-color: rgba(0, 0, 0, .05);
            }
        }
    }
}