$info: #323edd;
$warning: #E9C46A;
$primary: #363636;
$secondary: #2A9D8F;
$container-max-widths: ( sm: 540px, md: 720px, lg: 840px, xl: 960px );
$body-bg: #f7f7f7;
$body-color: #2d3436;
$code-color: #714674;
$font-family-code: Monaco, SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;