@model List<NoteRuntime>
@{
    Layout = "_NoteLayout";
    ViewData["Title"] = "所有笔记";
}

<div>
    <ul>
        @foreach (var item in Model.OrderByDescending(x => x.Raw.CreateTime))
        {
            <li>
                <a href="@item.Raw.GetFullPath()">@item.Raw.Title</a>
            </li>
        }
    </ul>
</div>