@model NoteTagRuntime
@inject IOptions<JarvisOptions> _options

@{
    Layout = "_NoteLayout";
    ViewData["Title"] = $"笔记标签：{Model.Raw.DisplayName}";
}

<h4>笔记标签：@Model.Raw.DisplayName</h4>
<ul>
    @foreach (var note in Model.Notes)
    {
        <li>
            <a href="@note.GetFullPath(_options.Value)">@note.Title</a>
        </li>
    }
</ul>
