@model List<NoteTagRuntime>

@{
    Layout = "_NoteLayout";
    ViewData["Title"] = "所有笔记";
}

@foreach (var tag in Model)
{
    <div class="d-grid">
        <a class="btn btn-primary" href="/note/tag/@tag.Raw.Link">
            @tag.Raw.DisplayName
            <span class="badge bg-secondary">@tag.Notes.Count</span>
        </a>
    </div>
}