<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="/rss" class="btn btn-primary btn-lg btn-block">RSS</a>
        </div>
        <div class="col-sm">
            <a href="/atom" class="btn btn-light btn-lg btn-block">Atom</a>
        </div>
    </div>
</div>