@inject ISwanService _swanService
@{
    Layout = "_LayoutPublic";
}

<div>
    @foreach(var item in (await _swanService.FindAsync<SwanRead>()).Where(x => DateTime.Now.Year - x.CreatedAt.Year <= 1 ))
    {
        <div>
            <a href="@item.GetFullLink()">@item.BookName</a>
        </div>
        
    }
</div>

@section Aside{
    <div class="card">
        <div class="card-header">
            Top Readings
        </div>
        <ul class="list-group list-group-flush">
            @foreach(var item in (await _swanService.FindAsync<SwanRead>()).GroupBy(x => x.CreatedAt.Year).Where(x => DateTime.Now.Year - x.Key > 1))
            {
                <li class="list-group-item list-group-action">
                    <a href="/read/@item.Key">@item.Key</a>
                </li>
            }
        </ul>
    </div>
}