@model List<LaobianLog>
@{
    ViewData["Title"] = "查看日志";
}

<div class="row">
    <div class="col-lg-5 mb-3">
        <div>
            <canvas id="logStats"></canvas>
        </div>
    </div>
    <div class="col-lg-7"><div class="alert alert-light" role="alert">
    <div class="mb-2">
        <span class="me-3 text-primary">Site: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="site" id="site_all" value="all" checked>
            <label class="form-check-label" for="site_all">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="site" id="site_blog" value="blog">
            <label class="form-check-label" for="site_blog">Blog</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="site" id="site_api" value="api">
            <label class="form-check-label" for="site_api">Api</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="site" id="site_admin" value="admin">
            <label class="form-check-label" for="site_admin">Admin</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="site" id="site_jarvis" value="jarvis">
            <label class="form-check-label" for="site_jarvis">Jarvis</label>
        </div>
    </div>
    <div class="mb-2">
        <span class="me-3 text-primary">Min Level: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="minLevel" id="site_info" value="2" checked>
            <label class="form-check-label" for="site_info">Information</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="minLevel" id="site_warn" value="3">
            <label class="form-check-label" for="site_warn">Warning</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="minLevel" id="site_error" value="4">
            <label class="form-check-label" for="site_error">Error</label>
        </div>
    </div>
    <div class="mb-2">
        <span class="me-3 text-primary">Date Range: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="dateRange" id="date_one_day" value="1" checked>
            <label class="form-check-label" for="date_one_day">One Day</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="dateRange" id="date_one_week" value="7">
            <label class="form-check-label" for="date_one_week">One Week</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="dateRange" id="date_one_month" value="30">
            <label class="form-check-label" for="date_one_month">One Month</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="dateRange" id="date_one_year" value="365">
            <label class="form-check-label" for="date_one_year">One Year</label>
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-success btn-lg px-5" onclick="loadLogs()" id="reloadBtn">加载</button>
    </div>
</div>
<p class="text-muted small" id="log_summary"></p>
<div class="list-group text-break" id="log_panel"></div></div>
</div>

@section Scripts{
    <script>
        activeNavItem("#nav_log");

        function loadLogs() {
            const site = document.querySelector('input[name="site"]:checked').value;
            const minLevel = document.querySelector('input[name="minLevel"]:checked').value;
            const dateRange = document.querySelector('input[name="dateRange"]:checked').value;
            const logPanel = document.querySelector("#log_panel");
            const logSummary = document.querySelector("#log_summary");
            const reloadBtn = document.querySelector("#reloadBtn");

            submitRequest(`/log?site=${site}&minLevel=${minLevel}&days=${dateRange}`,
                {
                    preAction: function() {
                        logPanel.innerHTML = "";
                        reloadBtn.disabled = true;
                    },
                    postAction: function() {
                        reloadBtn.disabled = false;
                    },
                    okAction: function(logs) {
                        let panelHtml = "";
                        let infoNum = 0;
                        let warnNum = 0;
                        let errorNum = 0;
                        logs.forEach(function(log) {
                            let bdClass = "";
                            if (log.l === 2) {
                                infoNum++;
                            } else if (log.l === 3) {
                                bdClass = "border-warning";
                                warnNum++;
                            } else if (log.l === 4) {
                                bdClass = "border-danger";
                                errorNum++;
                            }
                            panelHtml += `<div class='card mb-2 ${bdClass}'>`;
                            panelHtml += `<h5 class='card-header'>${log.n}</h5>`;
                            panelHtml += "<div class='card-body'>";
                            panelHtml += `<p class="card-text">${log.m}</p>`;
                            if (log.e) {
                                const id = makeid(7);
                                panelHtml += `<div class="d-grid"><button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#${id}" aria-expanded="false" aria-controls="${id}">Toggle Exception Details</button></div>`;
                                panelHtml += `<div class="collapse my-1" id="${id}"><pre>${log.e}</pre></div>`;
                            }

                            panelHtml += "</div></div>";
                        });

                        logPanel.innerHTML = panelHtml;
                        logSummary.innerHTML = `总计：${infoNum + warnNum + errorNum} <i class="fas fa-angle-double-right"></i> Info: ${infoNum}, Warn: ${warnNum}, Error: ${errorNum}`;
                    }
                });
        }

        loadLogs();
        submitRequest("/log/stats",
            {
                okAction: function(chart) {
                    createChart(document.querySelector("#logStats"), chart);
                }
            });
    </script>
}