$theme-colors: ( "primary": #2c3e50, "secondary": #CAD3C8);
$body-color: #1a1a1a;
$body-bg: #f6f6f6;
$link-hover-decoration: none;
$code-color: #594a4e;
$post-title-color: #3c4146;
$post-title-font-size: 1.35rem;
$container-max-widths: ( sm: 540px, md: 720px, lg: 840px, xl: 960px );
$list-group-bg: transparent;
$post-title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;