<section>
    <p class="text-danger text-center font-weight-bold font-italic">!!!This is for administration only, any unexpected trial would be recorded!!!</p>

    <form asp-controller="Account" asp-action="Login" asp-route-r="@ViewData[ViewDataConstant.ReturnUrl]" method="post" role="form">
        <div class="form-group">
            <label for="userName">User Name</label>
            <div>
                <input type="text" name="userName" class="form-control" id="userName" placeholder="User Name" autocomplete="off" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block btn-lg">Login</button>
        </div>
    </form>
</section>

@section style{
    <link rel="stylesheet"
          href="~/dist/account.min.css"
          asp-fallback-href="https://jerrybian.github.io/blog.laobian.me/account.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-append-version="true"/>
}