@inject IOptions<SwanOption> _option
@{
    Layout = null;
    ViewData["BrandName"] = $"{_option.Value.Title}";
    ViewData["BrandLink"] = "/";
    ViewData["Description"] = $"{_option.Value.Title}";
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@_option.Value.Title</title>
    <link href="~/style.min.css" rel="stylesheet" asp-append-version="true" />
    </head>
    <body class="bg-light p-2">
    <div class="d-flex min-vh-100 w-100 flex-column justify-content-center align-items-center">
        <div class="text-center">
            <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold">@_option.Value.Title</h1>
            <div class="col-lg-6 mx-auto">
                <div class="lead mb-4">
                    @Html.Raw(_option.Value.Description)
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/blog" class="btn btn-primary btn-lg px-4 gap-3 text-nowrap"><i class="bi bi-type-bold"></i> 博客</a>
                    <a href="/read" class="btn btn-outline-info btn-lg px-4 text-nowrap"><i class="bi bi-book"></i> 阅读</a>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>

