@inject ISwanService _swanService
@{
    Layout = "_LayoutPublic";
}

<div>
    @foreach(var item in await _swanService.GetBlogTagsAsync())
    {
        <a href="@item.GetFullLink()" class="btn btn-info">@item.Name</a>
    }
</div>