$pagination-hover-color: inherit;
$pagination-color: inherit;
$pagination-active-bg: gray;

@import "_shared";

.wrapper {
    width: 100%;
    max-width: 21cm;
    padding: 3%;
}

.post {
    font-weight: normal;
    line-height: 1.6em;

    & > p {
        margin-bottom: 1.1rem;
    }

    a {
        padding-left: 1px;
        padding-right: 1px;
        color: $color-1;

        &:hover, &:focus, &:visited {
            color: #1e3799;
        }
    }

    *:not(pre) > code {
        padding-left: 4px;
        padding-right: 4px;
        font-size: $font-size-base * 0.9;
    }

    pre {
        font-size: 92%;
        max-height: 600px;
        width: auto;
        line-height: 17px;
    }

    img {
        transition: 0.3s;
        max-width: 100%;
    }

    li {
        margin-bottom: .7rem;

        p {
            margin-bottom: 0;
        }
    }

    h3, h4 {
        text-align: center;
        margin-top: 1.4rem;
        margin-bottom: 0.5rem;
        font-weight: normal;
    }
}
