$font-family-sans-serif: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.95rem;

@import "../../../node_modules/@highlightjs/cdn-assets/styles/atom-one-light.min";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../../../node_modules/bootstrap/scss/bootstrap";

.x-small{
    font-size: 0.8em;
}