$pagination-hover-color: inherit;
$pagination-color: inherit;
$pagination-active-bg: gray;

@import "_shared";

.wrapper {
    width: 100%;
    max-width: 21cm;
}

.read-item {
    cursor:pointer;
}

.post-item + .post-item {
    border-top: 0.15rem solid var(--bs-gray-100);
}